@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__caption/lead__caption.css);

.lead {
  padding: 0 148px;
  margin-bottom: 92px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px){
  .lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px){
  .lead {
    padding: 0;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 360px){
  .lead {
    margin-bottom: 64px;
  }
}
