.cover__subtitle {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 590px){
  .cover__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 490px){
  .cover__subtitle {
    font-size: 14px;
  }
}

