.footer__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;
  transition: 0.3s 0s opacity ease-in;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link:last-of-type {
  margin: 0;
}

@media screen and (max-width: 700px){
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
