@media screen and (max-width: 880px){
  .footer__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 590px){
  .footer__links {
    display: block;
    margin-bottom: 48px;
  }
}
