.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 64px;
  max-width: 65%;
}

@media screen and (max-width: 800px){
  .lead__subtitle {
    margin: 0 64px 56px;
    max-width: 100%;
  }
}

@media screen and (max-width: 610px){
  .lead__subtitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 460px){
  .lead__subtitle {
    font-size: 16px;
    margin: 0 16px 40px;
  }
}
