@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);

.cover {
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
  margin-bottom: 92px;
}

/*
.cover {
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
  margin-bottom: 92px;
  position: relative;
}
*/

@media screen and (max-width: 1150px){
  .cover {
    padding: 0;
  }
}

@media screen and (max-width: 768px){
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 360px){
  .cover {
    margin-bottom: 64px;
  }
}
