.lead__caption {
  margin: 8px 0 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
}

@media screen and (max-width: 768px){
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 360px){
  .lead__caption {
    margin-left: 16px;
  }
}
